body{
  background-color: #E10600;  
  font-family: Formula1-Regular;
  color: white;
  
  }


  @font-face {
    font-family: Formula1-Regular;
    src: url("../src/fonts/Formula1-Regular.otf");
  }


.boton {
  background-color: white;
  color: black;
}
